h1 {
  margin: 20px;
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

li {
  margin-bottom: 20px;
}

.path {  
  display: inline-block;
  background: #e8e8e8;
  padding: 5px 20px;
  border-radius: 5px;
}
